@keyframes btn-Hover {
    0% {
        transform: scale(0);
        opacity: 1;
    }

    100% {
        transform: scale(2);
        opacity: 0;
    }
}
@keyframes title {
    0% {
        opacity: 0;
        transform: translateX(-200rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes sub-title {
    0% {
        opacity: 0;
        transform: translateX(200rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes btn {
    0% {
        transform: translateY(10rem);
    }

    100% {
        transform: translateY(0);
    }
}